<div class="container-fluid" style="margin: 2rem;">
  <div class="col-6 m-2">
    <h1>Bienvenido a Yani Beautynails</h1>
    <br>
    <h4>Podes pedir turno o mirar nuestros productos y servicios</h4>
  </div>
</div>

<div class="container-fluid" style="margin: 2rem;">
  <div class="row">
    <div class="col-6">
      <h3> Consulta turnos disponibles: </h3>
      <div class="row">

        <mat-form-field appearance="fill">
          <mat-label>Servicios</mat-label>
          <mat-select multiple (selectionChange)="onServiciosSelectionChange($event)">
            <mat-option *ngFor="let servicios of servicios$ |async" [value]="servicios">{{servicios.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <form class="example-form">
          <table class="example-full-width" cellspacing="1"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombreIngresado">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Teléfono</mat-label>
              <input matInput #postalCode maxlength="10" placeholder="2991111111" >
              <mat-hint align="end" formControlName="telefonoIngresado"></mat-hint>
            </mat-form-field></td>
          </table>
        </form>
      </div>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="enviarDatos()">Guardar</button></div>
    </div>
  </div>
</div>


